@model ProjetoLP3_4bim.Models.Pais

@{
    ViewData["Title"] = "Excluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Excluir</h2>

<h3>Tens certeza que deseja excluir o registro?</h3>
<div>
    <h4>País</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomePais)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomePais)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPais" />
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index">Voltar para Lista</a>
    </form>
</div>
