@model ProjetoLP3_4bim.Models.Livro

@{
    ViewData["Title"] = "Cadastrar";
}

<h2>Cadastrar</h2>

<h4>Livro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EditoraIdEditora" class="control-label"></label>
                <select asp-for="EditoraIdEditora" class ="form-control" asp-items="ViewBag.EditoraIdEditora"></select>
            </div>
            <div class="form-group">
                <label asp-for="GeneroLivroIdGeneroLivro" class="control-label"></label>
                <select asp-for="GeneroLivroIdGeneroLivro" class ="form-control" asp-items="ViewBag.GeneroLivroIdGeneroLivro"></select>
            </div>
            <div class="form-group">
                <label asp-for="AutorIdAutor" class="control-label"></label>
                <select asp-for="AutorIdAutor" class ="form-control" asp-items="ViewBag.AutorIdAutor"></select>
            </div>
            <div class="form-group">
                <label asp-for="TituloLivro" class="control-label"></label>
                <input asp-for="TituloLivro" class="form-control" />
                <span asp-validation-for="TituloLivro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataLancamentoLivro" class="control-label"></label>
                <input asp-for="DataLancamentoLivro" class="form-control" />
                <span asp-validation-for="DataLancamentoLivro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdPaginasLivro" class="control-label"></label>
                <input asp-for="QtdPaginasLivro" class="form-control" />
                <span asp-validation-for="QtdPaginasLivro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoLivro" class="control-label"></label>
                <input asp-for="PrecoLivro" class="form-control" />
                <span asp-validation-for="PrecoLivro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SinopseLivro" class="control-label"></label>
                <input asp-for="SinopseLivro" class="form-control" />
                <span asp-validation-for="SinopseLivro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
