/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
#Titulo {
    color: white;
    font-size: 20px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.home-images{
    width: 300px;
    height: 300px;
    border: double black 2px;
}

#texto-card2 {
    margin-bottom:auto;
}

#texto-card3 {
    color: #dc00c1;
}
/* Carousel */
.carousel-caption p {
    font-size: 40px;
    line-height: 1.4;
    color: yellow;
    margin-bottom:245px;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.menu-link {
    font-size: 16px;
}




/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
